/*
================================

BASE

================================
*/

:root {
  --selectedTab: #41331C;
  --selectedTabHover: #333;
  --searchBar: #525355;
  --searchBarHover: #333;
  --iconActive: #eee;
  --iconNormal: #999;
  --iconBackground: #404040;
  --background: #222;
  --textLight: #fff;
  --textNormal: #ddd;
  --textDark: #bbb;
  --borders: #444;
  --yellowNote: #635D19;
}

body {
  margin: 0;
  background-color: var(--background);
  font-family: "Roboto";
  color: var(--textNormal);
}

.note-icon {
  font-size: 22px;
  color: var(--iconActive);
  cursor: pointer;
}

.icon {
  font-size: 25px;
  color: var(--iconNormal);
  cursor: pointer;
  padding: 10px;
  border-radius: 23px;
}

.icon:hover {
  background-color: var(--iconBackground);
  color: var(--iconActive);
}

.icon-small {
  font-size: 23px;
}

/*
================================

NAVBAR

================================
*/

.navbar {
  background-color: var(--background);
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--borders);
}

.navbar__left {
  display: flex;
  align-items: center;
  font-family: "Roboto";
}

.navbar__menu {
  color: var(--iconNormal);
}

.navbar__left__logo {
  height: 40px;
  padding-left: 5px;
}

.navbar__left__title {
  font-size: 20px;
  color: var(--textNormal);
  padding-left: 5px;
  padding-right: 8px;
}

.navbar__center {
  background-color: var(--searchBar);
  display: flex;
  align-items: center;
  max-width: 700px;
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 2px 10px;
}

.navbar__center .icon {
  color: var(--textNormal);
}

.navbar__center .icon:hover {
  background-color: var(--iconBackground);
}

.navbar__center__input {
  font-size: 18px;
  border: 0;
  outline: 0;
  color: var(--textNormal);
  background-color: inherit;
  flex-grow: 1;
  padding: 0 5px;
}

.navbar__center__input::placeholder {
  color: var(--textNormal);
  font-size: 18px;
}

.navbar__center #deleteButton {
  visibility: hidden;
}

.navbar__right {
  display: flex;
  align-items: center;
  padding-left: 6px;
}

.navbar__right__icon {
  color: var(--iconNormal);
  font-size: 20px;
  padding: 12px;
  border-radius: 23px;
  cursor: pointer;
  transition: .2s;
}

/*
================================

SIDEBAR

================================
*/

.container {
  margin-top: 10px;
  display: flex;
}

.sidemenu {
  width: 270px;
  height: 600px;

  transition: .3s;
  position: absolute;
  left: 0px;
}

.sidemenu__voice {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 13px 20px;
  border-top-right-radius: 52px;
  border-bottom-right-radius: 52px;
  cursor: pointer;
}

.sidemenu__voice:hover {
  background-color: var(--selectedTabHover);
}

.sidemenu__voice .icon {
  font-size: 25px;
  padding: 0;
}

.sidemenu__voice__text {
  color: var(--textNormal);
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 500;
  padding-left: 25px;
}

/*
================================

MAIN

================================
*/

main {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  justify-content: center;
  font-family: "Roboto";

  transition: .3s;
  padding-left: 285px;
}

.center {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1010px;
}

.center.one-column {
  max-width: 600px;
}

.section__title {
  text-transform: uppercase;
  color: var(--textDark);
  font-size: 12px;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 10px;
  margin-left: 14px;
  text-align: left;
}

.section {
  width: 100%;
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.section.one-column {
  flex-direction: column;
  align-items: center;
}

.note {
  color: var(--textNormal);
  border-radius: 8px;
  max-height: 300px;
  min-height: 100px;
  width: 240px;
  border: 1px solid var(--borders);
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 135%;

  background-color: var(--yellowNote);
  border: 0;
  position: relative;

  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 25px;
}

.note:hover .note__controls {
  opacity: 70%;
}

.note__controls {
  display: flex;
  position: absolute;
  bottom: 10px;
  opacity: 0%;
  transition: .2s;
  gap: 10px;
}

.note.one-column {
  width: 100%;
}

.note__title {
  color: var(--textLight);
  margin: 0;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 500;
}

.newnote {
  margin: 0 auto;
  border: 1px solid var(--borders);
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  padding: 6px;
  border-radius: 8px;
  margin-bottom: 50px;
  position: relative;
}

.newnote__input {
  background-color: inherit;
  padding: 10px 12px;
  box-sizing: border-box;
  border: 0;
  color: var(--textNormal);
  font-size: 16px;
  display: block;
  width: 90%;
  max-width: 90%;
  min-width: 90%;
  min-height: 40px;
  height: 40px;
  resize: none;
  font-family: "Roboto";
}

.newnote__input:focus-visible {
  outline: 0;
}

.newnote__input::placeholder {
  color: var(--textNormal);
  font-weight: 500;
}

#addNote {
  font-size: 25px;
  padding: 8px;
  border-radius: 50px;
  box-sizing: border-box;
  position: absolute;
  right: 15px;
  bottom: 6px;
  transition: .2s;
}

/*
================================

DYNAMIC CLASSES

================================
*/

.sidemenu__voice.sidemenu-active:hover {
  background-color: var(--selectedTab);
}

.sidemenu-active {
  background-color: var(--selectedTab);
}

.sidemenu-active .material-icons {
  color: var(--iconActive);
}

/*
================================

MOBILE

================================
*/

@media only screen and (max-width: 700px) {
  .navbar__left__logo,
  .navbar__left__title {
    display: none;
  }

  .navbar__left {
    margin-right: 8px;
  }

  .section {
    flex-direction: column;
    align-items: center;
  }

  .note {
    width: 100%;
  }

  #gridButton,
  #searchButton,
  #switchThemeButton {
    display: none;
  }

  .sidemenu {
    left: -270px;
  }

  main {
    padding-left: 15px;
  }
}